rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    match /inspections/{inspectionId}/{allPaths=**} {
      
      // 1. Permite LEITURA se estiver autenticado
      allow read: if request.auth != null;

      // 2. Permite GRAVAÇÃO (Create/Update) com validações rígidas
      allow write: if request.auth != null
                   // Valida tipo de arquivo (Apenas Imagens)
                   && request.resource.contentType.matches('image/.*')
                   // Valida tamanho (Máximo 5MB)
                   && request.resource.size < 5 * 1024 * 1024
    }
    
    // Nega tudo que não for na pasta inspections
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}